<ion-header>
  <ion-navbar>
    <ion-title>Favorite routes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="routes.length === 0">
    <ion-card-content>
      You don't have any favorite route
    </ion-card-content>
    <ion-item>
      <button ion-button color="primary" icon-right clear item-right (click)="addFavoriteRoute()">
        Add
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-item>
  </ion-card>

  <user-route *ngFor="let route of routes; let routeIndex = index" [route]="route" [routeIndex]="routeIndex"></user-route>

  <ion-fab bottom right>
    <button ion-fab (click)="addFavoriteRoute()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
