<ion-header>
  <ion-navbar>
    <ion-title>
      Add a favorite route
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>1. City</ion-label>
      <ion-select [ngModel]="selectedContract" (ngModelChange)="onContractChange($event)">
        <ion-option *ngFor="let contract of contracts" value="{{contract.name}}">{{contract.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>2. Starting station</ion-label>
      <ion-select [(ngModel)]="selectedStartingStation" disabled="{{!contractSelected}}">
        <ion-option *ngFor="let station of stations | stationStatus:'OPEN'" value="{{station.number}}">{{station | stationName: true}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>3. Ending station</ion-label>
      <ion-select [(ngModel)]="selectedEndingStation" disabled="{{!contractSelected}}">
        <ion-option *ngFor="let station of stations | stationStatus:'OPEN'" value="{{station.number}}">{{station | stationName: true}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button ion-button full (click)="addRoute()">Add</button>
</ion-content>
