<ion-card [ngClass]="['border-' + cardBorderColor]">
  <ion-card-header *ngIf="route.name">
    {{route.name}}
  </ion-card-header>
  <ion-item *ngIf="route.startStation.data">
    <span ion-text color="{{route.startStation.data.color}}"  class="spacing-right50 bold">
      <ion-icon name="bicycle" class="spacing-right20"></ion-icon> {{route.startStation.data.available_bikes}}
    </span> {{route.startStation.data | stationName: true}}
    <p ion-text color="grey">{{route.startStation.data.last_update | timeAgo}}</p>
  </ion-item>

  <ion-item *ngIf="route.endStation.data">
    <span ion-text color="{{route.endStation.data.color}}"  class="spacing-right50 bold">
      <ion-icon name="pin" class="spacing-right20"></ion-icon> {{route.endStation.data.available_bike_stands}}
    </span> {{route.endStation.data | stationName: true}}
    <p ion-text color="grey">{{route.endStation.data.last_update | timeAgo}}</p>
  </ion-item>

  <ion-item>
    <span item-left small><ion-badge item-right>{{route.contract}}</ion-badge></span>
    <button *ngIf="reordering && routeIndex > 0" ion-button color="grey" clear item-right icon-left (click)="reorder('up')">
      <ion-icon name="arrow-up"></ion-icon>
    </button>
    <button *ngIf="reordering && !isLast" ion-button color="grey" clear item-right icon-left (click)="reorder('down')">
      <ion-icon name="arrow-down"></ion-icon>
    </button>

    <button ion-button color="danger" clear item-right icon-left (click)="removeRoute()">
      <ion-icon name="trash" *ngIf="!awaitingDeletion"></ion-icon>
      <ion-icon name="checkmark" *ngIf="awaitingDeletion"></ion-icon>
      <span *ngIf="!awaitingDeletion"></span><span *ngIf="awaitingDeletion">Confirm</span>
    </button>
  </ion-item>
</ion-card>
