<ion-card *ngIf="startStation && endStation">
  <ion-item>
    <span color="{{startStation.color}}">
        <ion-icon name="bicycle"></ion-icon> {{startStation.available_bikes}}
      </span> {{startStation | stationName: true}}
  </ion-item>

  <ion-item>
    <span color="{{endStation.color}}">
        <ion-icon name="pin"></ion-icon> {{endStation.available_bike_stands}}
      </span> {{endStation | stationName: true}}
  </ion-item>

  <ion-item>
    <span item-left small><ion-badge item-right>{{route.contract}}</ion-badge></span>
    <span color="grey">Last update {{startStation.last_update | timeAgo}}</span>
    <button ion-button color="danger" clear item-right icon-left (click)="removeRoute()">
        <ion-icon name="trash" *ngIf="!awaitingDeletion"></ion-icon>
        <ion-icon name="checkmark" *ngIf="awaitingDeletion"></ion-icon>
        <span *ngIf="!awaitingDeletion">Delete</span><span *ngIf="awaitingDeletion">Confirm</span>
      </button>
  </ion-item>
</ion-card>
